<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="VAMADEV BUILDTECH PRIVATE LIMITED | vamadevbuiltech.com is a real estate consulting firm and we are exclusive into Building Planning,Joint Venture business, Constructions, Contracting, Building.">
<meta name="keywords" content="VAMADEV BUILDTECH PRIVATE LIMITED, contact details, email address, overview, Real Estate , Buy, Home, Sell, Homes, Sale, Builders, Contracting, Constructions">
<meta property="og:title" content="Vamadev Buildtech- VAMADEV BUILDTECH PRIVATE LIMITED | Home">
<meta property="og:description" content="Vamadev Buildtech Private Limited is a real estate consulting firm and we are exclusive into Building Planning,Joint Venture business, Constructions, Contracting, Building.">
<link rel="icon" href="img/favicon.png" type="image/png">
<title>Vamadev BuildTech - Homes We Build</title>
<meta name="google-site-verification" content="uLkl-ybfEFAxAV6AM5WCg7Cx-EienpauxEiH4awQzT0" />
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="vendors/linericon/style.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
<link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css">
<link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
<link rel="stylesheet" href="vendors/animate-css/animate.css">
<!-- main css -->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/responsive.css">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131739572-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-131739572-1');
</script>